* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: none;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    flex-flow: row wrap;
    justify-content: flex-start;
    height:130px;
}
header figure {
    background-color: none;
    width: 20%;
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex-flow: row nowrap; */
    justify-content: center;
    align-items:center;
    order:1;
}
header figure img {
    /* width: 90px; */
    height: 90%;
    border-radius:100%;
    box-shadow: 10px 0 black;
}
header nav {
    background-color:rgba(0,0,0,.3);
    width: 100%;
    order:4;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center
    /* flex: 6; */
}
header nav a {
    color: white;
    text-decoration: none;
    width: 10%;
    height:100%;
    text-align: center;
    background-color: grey;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 20px;
}
header nav a i{
    order:2;
    font-size: 14px;
}
header nav a span {
    order:1
}
header #search {
    width: 50%;
    background-color: none;
    order:2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:center;
}

header #search input1{
    height:50px;
    width: 80%;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
    color: blue;
    background-image: url(../img/react-input.png);
    background-repeat: no-repeat;
    background-position: center right;
}
header #search i {
    width: 10%;
    font-size: 30px;
    color: blue;
}
header #search i:hover {
    color: red;
    font-size: 40px;
}
header #registro {
    order:3;
    display:block;
    background-color: none;
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    /* flex: 3; */
}
/* header #registro #user{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-right: 10px;
}
header #registro #user input{
    order:1;
}
header #registro #user label{
    order: 2;
    font-style: italic;
    font-weight: bold;
    color: blue
}
header #registro #password{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-right: 10px;
}
header #registro #password input{
    order:1;
}
header #registro #password label{
    order:2;
    font-style: italic;
    font-weight: bold;
    color: blue
}

header #registro input {
    height: 30px;
} */
